/* 首页布局 */
.g-header{
  height: 90px;
  margin:0 auto;
  background-color: #fff;
}
.g-header .g-hdwrap{
  width:1080px;
  margin:0 auto;
}
.g-banner{
  height: 356px;
  position:relative;
}
.g-body{
  width:1080px;
  margin:50px auto 0;
}
.g-main{
  width:760px;
  float:left;
}
.g-side{
  width:295px;
  float:right;
}
.g-footer{
  width:1080px;
  margin:0 auto;
}

/* header logo */
.u-logo{
  float:left;
  width:220px;
  height:52px;
  margin:19px 40px;
  background:url(../res/images/logo.png) left center no-repeat;
}
.u-logo .name{
  display:block;
  padding:16px 0 20px 100px;
  font-size:14px;
  font-weight:bold;
  color:#000;
  letter-spacing:8px;
  overflow:hidden;
}

/* Tabs */
.m-tabs{
  position:relative;
  float:left;
  width:312px;
  margin-top:20px;
}
.m-tabs ul{
  margin-right:-4px;
}
.m-tabs ul>li{
  float:left;
  margin-right:4px;
  padding:15px 20px;
  cursor:pointer;
}
.m-tabs ul>li.z-active>a{
  color:#5ed0ba;
}
.m-tabs .tabs_track{
  position:absolute;
  bottom:-2px;
  height:4px;
  width:100%;
  border-radius:2px;
  background-color:#dcdddd;
}
.m-tabs .tabs_thumb{
  position:absolute;
  height:4px;
  border-radius:2px;
  background:#5ed0ba;
  transition:ease .5s;
}

/* 搜索框 */
.m-search{
  float:left;
  position:relative;
  margin:25px 30px 0 36px;
}
.u-search input{
  width:196px;
  height:40px;
  text-indent:14px;
  border-radius:4px;
  border:1px solid #5ed0ba;
  font-family:'SimSun',sans-serif;
}
.u-icon{
  position:absolute;
  right:10px;
  top:50%;
  margin-top:-10px;
}
.u-icon-search{
  width:20px;
  height:20px;
  background:url('../res/images/search.png') center no-repeat;
}
.u-icon-btn{
  border:none;
}

/* 登录注册按钮 */
.guest{
  float:left;
  margin-top:26px;
  font-size:0;
}
#login, #register{
  letter-spacing:5px;
}
#login{
  text-indent:24px;
  background:url('../res/images/user.png') 16px center no-repeat, #5ed0ba;
}
.u-btn{
  display:inline-block;
  width:90px;
  text-align:center;
  height:38px;
  line-height:38px;
  text-decoration:none;
  border-radius:3px;
  border:1px solid #5ed0ba;
}
.u-btn-primary{
  color:#fff;
  background-color:#5ed0ba;
}
.u-btn-link{
  color:#5ed0ba;
  background-color:#fff;
  border:1px solid #fff;
}